.m-article-excerpt {
  color: var(--background-color);
  letter-spacing: 0.6px;
  line-height: 1.4;
  font-size: 0.875rem;
  opacity: 0.8;

  @include respond-to('medium') {
    color: var(--primary-foreground-color);
    max-width: 560px;
    margin: 0 auto;
  }
}
