{{!--
This template is used for the authors page.
You must first create a page called Authors in the dashboard to enable it.
--}}

{{!-- The tag below means: insert everything in this file
into the {body} of the default.hbs template --}}
{{!< default}}

<div class="main-wrap">
  {{> header}}
  <main>
    <div class="l-wrapper">
      <div class="l-content">
        {{!-- Everything inside the #post tags pulls data from the page --}}
        {{#post}}
        <section class="m-heading" data-aos="fade">
          <h1 class="m-heading__title">{{title}}</h1>
          {{#if custom_excerpt}}
            <p class="m-heading__description">
              {{custom_excerpt}}
            </p>
          {{/if}}
        </section>
        {{/post}}
        {{#get 'authors' limit='all' include='count.posts' order='count.posts desc'}}
          <div class="l-posts-container">
            {{#foreach authors}}
              {{!-- The tag below includes the markup for each author - partials/author-card.hbs --}}
              {{> "author-card"}}
            {{/foreach}}
          </div>
        {{/get}}
      </div>
    </div>
  </main>
</div>
