.l-wrapper {
  position: relative;
  padding: 0 $mobile-space;
  margin: 0 auto;
  max-width: $max-wrapper-width;

  @include respond-to('extra-large') {
    padding: 0;
  }

  &.extra-space {
    @include respond-to('largest') {
      max-width: 1400px;
    }
  }

  &.in-desktop-topbar {
    @include respond-to('medium') {
      height: 100%;
    }
  }

  &.in-newsletter-top {
    display: flex;
    align-items: center;
    height: 100%;
  }
}
