[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-imdb:before {
  content: "\e916";
}
.icon-vk:before {
  content: "\e917";
}
.icon-steam:before {
  content: "\e918";
}
.icon-vimeo:before {
  content: "\e919";
}
.icon-rss:before {
  content: "\e91a";
}
.icon-spotify:before {
  content: "\e91b";
}
.icon-telegram:before {
  content: "\e91c";
}
.icon-soundcloud:before {
  content: "\e91d";
}
.icon-tiktok:before {
  content: "\e922";
}
.icon-tumblr:before {
  content: "\e923";
}
.icon-wechat:before {
  content: "\e927";
}
.icon-deviantart:before {
  content: "\e928";
}
.icon-discord:before {
  content: "\e929";
}
.icon-snapchat:before {
  content: "\e92c";
}
.icon-behance:before {
  content: "\e951";
}
.icon-github:before {
  content: "\e911";
}
.icon-instagram:before {
  content: "\e912";
}
.icon-linkedin:before {
  content: "\e913";
}
.icon-pinterest:before {
  content: "\e914";
}
.icon-youtube:before {
  content: "\e915";
}
.icon-dots:before {
  content: "\e900";
}
.icon-moon:before {
  content: "\e901";
}
.icon-sun:before {
  content: "\e902";
}
.icon-search:before {
  content: "\e903";
}
.icon-close:before {
  content: "\e904";
}
.icon-chevron-right:before {
  content: "\e905";
}
.icon-chevron-left:before {
  content: "\e906";
}
.icon-web:before {
  content: "\e907";
}
.icon-twitter:before {
  content: "\e908";
}
.icon-twitter-outline:before {
  content: "\e909";
}
.icon-star:before {
  content: "\e90a";
}
.icon-link:before {
  content: "\e90b";
}
.icon-facebook:before {
  content: "\e90c";
}
.icon-facebook-outline:before {
  content: "\e90d";
}
.icon-check:before {
  content: "\e90e";
}
.icon-card:before {
  content: "\e90f";
}
.icon-chevron-down:before {
  content: "\e910";
}
