@import "common/reset";
@import "common/mixins";
@import "common/themes";
@import "common/variables";
@import "common/helpers";
@import "common/global";
@import "common/icons";

@import "layouts/wrapper";
@import "layouts/content";
@import "layouts/search";

@import "components/header/header";
@import "components/header/mobile-topbar";
@import "components/header/mobile-menu";
@import "components/header/mobile-menu-icon";
@import "components/header/desktop-topbar";
@import "components/header/logo";
@import "components/header/site-name";
@import "components/header/open-menu";
@import "components/header/desktop-topbar-icon";
@import "components/header/more-button";
@import "components/header/toggle-darkmode";
@import "components/header/submenu";
@import "components/header/secondary-menu";

@import "components/articles/recent-article";
@import "components/articles/result";

@import "components/article/hero";
@import "components/article/access-tag";
@import "components/article/tag";

@import "components/forms/button";
@import "components/forms/input";
@import "components/forms/fieldset";
@import "components/forms/error-message";

@import "components/general/navigation";
@import "components/general/heading";
@import "components/general/no-posts";
@import "components/general/alert";
@import "components/general/loading-ring";

@import "components/search/close";
@import "components/search/form";
@import "components/search/label";
@import "components/search/tags-list";
@import "components/search/empty-block";
@import "components/search/not-found-text";

@import "components/footer/footer";
@import "components/footer/icon";
@import "components/footer/copyright";
@import "libs/aos/aos";

.m-article-content h2,
.m-article-content h3 {
	outline: none;
}
body {
	overflow: visible;
}
.post-full-content {
	display: grid;
	grid-template-columns: 1fr 0.2fr;
	padding: 0 0 6vw;
	margin: 0;
}
.toc-container {
	order: 1;
}
.toc-container .toc {

	@include respond-to('large') {
		font-size: 0.9rem;
		min-width: 200px;
	}
	
	@include respond-to('extra-large') {
		font-size: 1.1rem;
		min-width: 260px;
  }
	
	background-color: var(--background-color);
	color: var(--primary-foreground-color);
	padding: 10px;
	position: sticky;
	top: 70px;
	min-width: 260px;
	font-family: $font-inter-text;
	font-size: 1.1rem;
	line-height: 1.6em;
	padding: 0 0.8em;
}
.is-active-link::before {
	background-color: #581EA1;
}
ol.toc-list {
	margin: 0;
}
