.m-account-module {
  border-radius: 2px;
  border: 1px solid var(--border-color);
  margin-bottom: 30px;

  @include respond-to('medium') {
    max-width: 820px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }

  &.last {
    margin-bottom: 0 !important;
  }
}

.m-account-module__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 20px;
  background-color: var(--empty-color);
  border-bottom: 1px solid var(--border-color);

  @include respond-to('medium') {
    padding: 22px 40px;
  }
}

.m-account-module__title {
  flex: 1;
  color: var(--secondary-foreground-color);
  line-height: 1;
  font-family: $font-playfair;
  font-size: 1.625rem;
  font-weight: 700;
  padding-right: 20px;
  margin: 0;

  @include respond-to('medium') {
    font-size: 2rem;
  }
}

.m-account-module__avatar {
  flex-shrink: 0;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include respond-to('medium') {
    width: 39px;
    height: 39px;
  }
}

.m-account-module__body {
  position: relative;
  padding: 30px 20px;

  @include respond-to('medium') {
    padding: 40px 200px 40px 40px;
  }

  &.in-subscriptions {
    padding: 0 20px;

    @include respond-to('medium') {
      padding: 0 40px;
    }
  }

  p {
    color: var(--secondary-foreground-color);
    letter-spacing: 0.5px;
    line-height: 1.5;
    font-size: 0.875rem;
    margin: 0;

    b, strong {
      font-weight: 500;
    }
  }
}

.rtl {
  .m-account-module__body {
    @include respond-to('medium') {
      padding: 40px 0 40px 200px;
    }
  }
}

.m-account-module__body__flex-container {
  @include respond-to('medium') {
    display: flex;
    flex-wrap: wrap;
  }
}

.m-account-module__button-container {
  text-align: center;
  padding-top: 30px;

  @include respond-to('medium') {
    text-align: left;
  }
}

.rtl {
  .m-account-module__button-container {
    @include respond-to('medium') {
      text-align: right;
    }
  }
}
