.m-featured-author {
  width: calc(100% + 40px);
  margin: 0 -#{$mobile-space};

  @include respond-to('medium') {
    display: flex;
    width: 100%;
    padding-top: 50px;
    margin: 0;
  }
}

.m-featured-author__picture {
  height: 300px;

  @include respond-to('medium') {
    order: 2;
    width: 350px;
    height: 350px;
    overflow: hidden;
    border-radius: 50%;
    background-color: var(--primary-subtle-color);
  }

  @include respond-to('large') {
    width: 500px;
    height: 500px;
  }

  &:hover:not(.no-image) {
    a {
      div {
        @include respond-to('medium') {
          @include transform(translateX(-12.5px));
        }

        @include respond-to('large') {
          @include transform(translateX(-25px));
        }
      }
    }
  }

  &.no-image {
    background-color: var(--empty-color);

    a {
      @include respond-to('medium') {
        justify-content: center;
      }
    }

    div {
      background-size: auto 70%;

      @include respond-to('medium') {
        width: 250px;
        height: 218px;
        border-radius: 0;
      }

      @include respond-to('large') {
        width: 400px;
        height: 368px;
      }
    }
  }

  a {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;

    @include respond-to('medium') {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }

  div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @include respond-to('medium') {
      position: relative;
      top: auto;
      left: auto;
      width: 325px;
      height: 325px;
      border-radius: 50%;
      @include transition(transform 0.2s cubic-bezier(0.02, 0.01, 0.47,1));
    }

    @include respond-to('large') {
      width: 450px;
      height: 450px;
    }
  }
}

.rtl {
  .m-featured-author__picture {
    &:hover:not(.no-image) {
      a {
        div {
          @include respond-to('medium') {
            @include transform(translateX(12.5px));
          }

          @include respond-to('large') {
            @include transform(translateX(25px));
          }
        }
      }
    }
  }
}

.m-featured-author__content {
  padding: 30px $mobile-space 40px;

  @include respond-to('medium') {
    flex: 1;
    order: 1;
    padding: 0;
  }

  @include respond-to('large') {
    padding: 50px 0 0;
  }
}

.m-featured-author__name {
  color: var(--primary-foreground-color);
  letter-spacing: 0.4px;
  line-height: 1.3;
  font-size: 2.5rem;
  font-family: $font-playfair;
  font-weight: 700;
  margin: 0 0 25px;

  @include respond-to('medium') {
    font-size: 3rem;
    margin-bottom: 30px;
    max-width: 400px;
  }

  @include respond-to('large') {
    max-width: 550px;
  }

  a {
    color: inherit;
  }
}

.m-featured-author__bio {
  color: var(--primary-foreground-color);
  letter-spacing: 0.6px;
  line-height: 1.5;
  font-size: 0.875rem;
  margin-bottom: 30px;

  @include respond-to('medium') {
    max-width: 350px;
  }

  @include respond-to('large') {
    max-width: 500px;
  }
}

.m-featured-author__social {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0 0 30px;

  li {
    margin-right: 20px;

    &:last-of-type {
      margin-right: 0;
    }

    a {
      color: var(--primary-foreground-color);

      span {
        color: inherit;
        font-size: 1.063rem;
      }
    }
  }
}

.rtl {
  .m-featured-author__social {
    li {
      margin-right: 0;
      margin-left: 20px;

      &:last-of-type {
        margin-left: 0;
      }
    }
  }
}

.m-featured-author__stats {
  color: var(--primary-foreground-color);
  letter-spacing: 0.6px;
  font-size: 0.875rem;

  span {
    display: inline-block;

    &:nth-child(2) {
      margin: 0 10px;
    }
  }
}
