.m-footer-icon {
  display: inline-block;
  color: var(--footer-foreground-color);
  font-size: 1rem;
  margin: 0 12px;
  cursor: pointer;
  @extend .no-appearance;

  &.last {
    @include respond-to('medium') {
      margin-right: 0;
    }
  }

  span {
    color: inherit;
  }
}

.rtl {
  .m-footer-icon {
    &.last {
      @include respond-to('medium') {
        margin-left: 0;
        margin-right: 12px;
      }
    }
  }
}
