.m-search__form {
  position: relative;
  z-index: 2;
}

.m-search__icon {
  position: absolute;
  left: $mobile-space;
  top: 50%;
  color: var(--placeholder-color);
  font-size: 1rem;
  pointer-events: none;
  @include transform(translateY(-45%));

  @include respond-to('medium') {
    font-size: 1.125rem;
    @include transform(translateY(-42%));
  }
}

.m-search__results {
  flex: 1;
  padding: 11px 0 10px;
  margin-top: -1px;
  border-radius: 0 0 5px 5px;
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  background-color: var(--background-color);
  position: relative;
  overflow-y: auto;
  z-index: 1;
  -webkit-overflow-scrolling: touch;

  @include respond-to('medium') {
    padding: 16px 0 15px;
  }
}

.m-search__no-results {
  color: var(--primary-foreground-color);
  text-align: center;
  padding-top: 50px;

  @include respond-to('medium') {
    padding-top: 75px;
  }

  h4 {
    letter-spacing: 0.4px;
    font-size: 1rem;
    font-weight: 500;
    margin: 0 0 15px;

    @include respond-to('medium') {
      font-size: 1.125rem;
      margin-bottom: 20px;
    }
  }

  p {
    letter-spacing: 0.3px;
    line-height: 1.5;
    font-size: 0.875rem;
  }
}
