$font-playfair: 'Playfair Display', Georgia, 'imes New Roman', sans-serif;
$font-roboto: 'Roboto', Helvetica, Arial, sans-serif;
$mobile-space: 20px;
$mobile-bar-height: 50px;
$desktop-bar-height: 100px;
$medium-wrapper-width: 1024px;
$max-wrapper-width: 1200px;
$max-wrapper-medium-width: 1000px;
$badge-color: #FED330;
$related-empty-color: #F4F4F4;
$related-access-tag-color: #333;
$related-access-tag-background-color: #FFF;
$success-color: #C7F7CA;
$error-color: #FF383E;
$alert-text-color: #333;
$submenu-text-color: #EFEFEF;
