.m-error-message {
  color: $error-color;
  letter-spacing: 0.5px;
  font-size: 0.750rem;
  font-weight: 500;
  padding-top: 25px;

  &.in-auth-form {
    text-align: center;
    max-width: 480px;
    padding-top: 0;
    padding-bottom: 25px;

    @include respond-to('medium') {
      text-align: left;
      max-width: 100%;
    }
  }

  &.in-subscription {
    display: block;
    padding-top: 10px;
  }
}

.rtl {
  .m-error-message {
    &.in-auth-form {
      @include respond-to('medium') {
        text-align: right;
      }
    }
  }
}
